  
  <main class="about-container my-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="about-title text-center mb-4">ようこそ、旅ぶら_GOへ！</h1>
        <p class="about-text">
          当サイトは、利用者の旅の始まりを支援するために制作しました。<br>
          旅ブラ_GOでは、旅行者が自分のお気に入りの旅行スポットやルートを投稿し、他の人と共有することができます。<br>
          さまざまなモデルコースを閲覧し、その地域や文化を深く知ることができます。
        </p>
        <p class="about-text">
          ここでは、あなたの趣味や好みに合わせて、新しい冒険を見つける手助けをしたいと思っています。<br>
          他の旅行者の実体験やヒントを元に、自分だけの旅の計画を立てましょう。そして、素晴らしい思い出に満ちた旅に出発しましょう。
        </p>
        <p class="about-text">
          旅ブラ_GOは、旅先での出会いや、地元の料理や文化に触れる機会を提供します。<br>
          未知の場所で新たな一面を発見することを楽しみにしています。
        </p>
        <p class="text-center">
          あなたの次の旅を計画するために、旅ブラ_GOをご利用ください。新しい発見と冒険が、あなたを待ってます！<br>
          <strong>良い旅を！</strong>
        </p>
      </div>
    </div>
  </main>