/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  width: 100%;
}
footer {
  position: sticky;
  top: 100vh;
  width: 100%;
}

// aboutページのレイアウト

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.about-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-top: 20px; /* 上部の余白を追加 */
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.8; /* 行間を広く設定 */
  text-align: justify;
  margin-bottom: 20px; /* 段落間の余白を追加 */
}

.about-highlight {
  color: #28a745;
}

